/* html,
body, */
/* #root { */
/* font: 0.9rem sans-serif; */
/* background: #0a1f44; */
/* color: #1e2432; */
/* height: 100%; */
/* margin: 0; */
/* } */

/* h1 {
  color: #fff;
}
label {
  color: #fff;
}
.units {
  display: flex;
  flex-direction: row;
}
.main-container {
  background: url("https://ik.imagekit.io/d5scjfbjc/index_0nNrywa8ul.svg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.sunrise {
  background: url("https://images.pexels.com/photos/965968/pexels-photo-965968.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.sunset {
  background: url("https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  text-align: center;
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 2%;
  background: rgba(250, 250, 250, 0.85);
}

.city {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  flex-direction: column;
  padding: 10px 8%;
  border-radius: 20px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1e2432;
  text-align: center;
}

.ctiy sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #ff8c00;
}

.city-icon {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }
  .city {
    padding: 15px 20%;
  }
  .forecast {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.container {
  display: flex;
  width: 80%;
  height: 150px;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}
.forecast {
  color: #0a1f44;
  text-align: center;
  font-weight: bolder;
  border-radius: 10px;
  background: rgba(180, 180, 180, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
  height: 120px;
  width: 150px;
}
.forecast div {
  margin-bottom: 5px;
}
.forecast-img {
  width: 50px;
  height: 50px;
}
.date {
  margin-top: 5px;
  margin-bottom: 10px;
} */
