@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

body {
  font-family: "Open Sans", serif;
}

.app {
  background-image: url("./img/sunny.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  height: 100vh;
  width: 100vw;
}
.app.snow {
  background-image: url("./img/snow.jpg");
}
.app.rain {
  background-image: url("./img/rain.jpg");
}
.app.night {
  background-image: url("./img/night.jpg");
}

.wrapper {
  background: linear-gradient(to right, #5882fa, #fe642e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  /* border: 0.1px solid rgb(96, 96, 96); */
  /* display: flex;
  flex-direction: column;
  width: 40%;
  height: auto; */
  /* background: rgba(219, 216, 216, 0.25); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.main {
  /* height: 90vh; */
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  /* width: 80%; */
  margin: 0 auto;
}

.title-container {
  height: 50vh;
  background: url("img/bg.jpg") center center no-repeat;
  /* background: url("https://ik.imagekit.io/d5scjfbjc/index_0nNrywa8ul.svg")
    center center no-repeat; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(11, 3, 82);
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: "Roboto Slab", serif;
  display: flex;
}

.title-container__subtitle {
  font-style: italic;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  display: flex;
}

.form-container {
  /* background-color: #fbefef; */
  /* height: 90vh; */
  display: grid;
  align-items: center;
  justify-content: center;
  /* padding-top: 100px; */
  padding-left: 50px;
  margin-right: 30px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  /* width: 30%; */
  padding-bottom: 4px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 10px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #49aee9;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-left: 200px;
}

.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  /* padding: 20px 0 20px 0; */
  font-weight: 400;
  font-size: 18px;
  display: "inherit";
  margin-left: 200px;
}
.weather__Iconkey {
  filter: brightness(0.5);
  width: 100px;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #190b07;
  font-weight: 200;
}

.weather__error {
  color: #190b07;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
.date {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 6px;
  margin-right: 41px;
  font-weight: lighter;
  font-size: 18px;
}
.footer {
  display: flex;
  justify-content: center;
}

.spinner {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: transparent;

  animation: spin 1s linear infinite;
}
